{extend name="public/base" /}

{block name="seo"}
<title>{$title|default='添加管理员'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$description|default='页面描述'}">
{/block}

{block name="content"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 医案管理 <span
        class="c-gray en">&gt;</span> 添加医案
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px; margin-left: 5px;"
        href="{:url('admin/ya/index')}">返回</a>
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
        href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>

</nav>

<article class="page-container">
    <form name="form" id="form" class="form form-horizontal" id="form-admin-add" method="POST"
        action="{:url('admin/doctor/add')}" enctype="multipart/form-data">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span> 姓 名 ：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <input type="text" class="input-text" value="" autocomplete="off" placeholder="" name="name">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>个人经历：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <textarea class="textarea radius" name="experience" autocomplete="off" ></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>学术成就：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <textarea class="textarea radius" name="scholastic" autocomplete="off" ></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>荣誉称号：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <textarea class="textarea radius" name="honorary" autocomplete="off" ></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>著作：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <textarea class="textarea radius" name="book" autocomplete="off" ></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>擅长疾病：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <textarea class="textarea radius" name="good_at_disease" autocomplete="off" ></textarea>
            </div>
        </div>
        {$user.title}
        {$user.name}
        <b>姓名：</b>{$user.patient_name} <br>
            <b>年龄：</b>{$user.patient_age}<br>
            <b>性别：</b>{$user.patient_sex}<br>
            <b>工作状态：</b>{$user.patient_status}<br>
        <b>出诊时间：</b>	{$user.diagnose_first_time}<br>
        <b>主诉症状：</b>	{$user.symptom}<br>
        <b> 病 史 ：</b>	{$user.medial_history}<br>
        <b> 刻 珍 ：</b>	{$user.carves_diagnosis}<br>
        <b>中医诊断：</b>	{$user.tcm_diagnosis}<br>
        <b>西医诊断：</b>	{$user.wes_diagnosis}<br>
        <b> 科 别 ：</b>	{$user.category}<br>
        <b>用法用量：</b>	{$user.usage}<br>
        <b>治则治法：</b>	{$user.therapeutic_principle_and_method}<br>
        <b> 方剂名 ：</b>	{$user.prescription}<br>
        <b>方剂组成：</b>	{$user.prescription_composition}<br>
        <b> 医 嘱 ：</b>	{$user.doctor_advice}<br>
        <b> 二 诊 ：</b>	{$user.diagnosis_second}<br>
        <b>二诊处方：</b>	{$user.diagnosis_second_recipe}<br>
        <b> 三 诊 ：</b>	{$user.diagnosis_third}<br>
        <b>三诊处方：</b>	{$user.diagnosis_third_recipe}<br>
        <b> 四 诊 ：</b>	{$user.diagnosis_fourth}<br>
        <b>四诊处方：</b>	{$user.diagnosis_fourth_recipe}<br>
        <b> 按 语 ：</b>	{$user.note}<br>
        <b>就诊图片：</b>	{$user.imgs}<br>
        <b>就诊影像：</b>	{$user.video}<br>
        <b> 出 处 ：</b>	{$user.source}<br>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片：</label>
            <div class="formControls col-xs-8 col-sm-6">
                <span class="btn-upload form-group">
                        <input class="input-text upload-url radius" type="text" name="img" id="img" readonly><a href="javascript:void();" class="btn btn-primary radius"><i class="iconfont">&#xf0020;</i> 浏览文件</a>
                        <input type="file" multiple name="img" class="input-file">
                </span>
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-6 col-xs-offset-4 col-sm-offset-3">
                <input id="submit" class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>


{/block}

{block name="js"}
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.form.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('.skin-minimal input').iCheck({
            checkboxClass: 'icheckbox-blue',
            radioClass: 'iradio-blue',
            increaseArea: '20%'
        });
    });

    $('#form').ajaxForm(function (data) {
        if (data == true) {
            parent.layer.msg("添加成功", { icon: 1, time: 3000 });
            window.location.reload();
        }
        else if (data == false) {
            layer.msg('添加失败!', { icon: 1, time: 3000 });
        } else {
            layer.msg(data, { icon: 1, time: 3000 });
        }
    });

</script>
{/block}