{extend name="common:base" /}
{block name="meta"}
<title>{:getSiteInfo('site_name')}</title>
<meta charset="utf-8" />
<meta name="description" content="websites description" />
<meta name="keywords" content="websited keywords" />


{/block}
{block name="body"}
<!-- header begain-->
{include file="common:header"}
<!-- / header end-->

<div class="col-sm-8 col-sm-offset-2" style="padding-top:20px;padding-bottom: 20px;">
    <div class="col-sm-3 clear-padding">
        <div class="tit01 title-border" style="background-color: #cfb889;">
            <span style="padding-right:10px;">名老中医</span>
        </div>

        <div class="div-border bg-white" style="line-height:2em; padding-top: 1.2em;list-style:none;">
            <!-- <ul style="list-style:none;"> -->
            {volist name='list' id='list'}
            <li style=" background-color: beige;
                border-bottom: 1px dotted #abab61;margin-bottom: 5px;"><a href="{:url('index/index/doctorDetail',['id'=>$list.id])}"><span>{$list.name}</span></a></li>
            {/volist}
            <!-- </ul> -->
                <div style="height:320px;">

        </div>
        </div>
    
    </div>
    <div class="col-sm-9" style="padding-right:0px;">
        <div class="tit01 title-border">
            <span>名老中医 -- {$detail.name}</span>
        </div>
        <div class="div-border bg-white">
            <div class="row" style="margin-top:50px;">
                <div class="col-sm-3 col-sm-offset-1">
                    <img src="__UPLOADS__/{$detail.img}" width="100%" alt="{$detail.name}" srcset="">
                </div>
                <div class="col-sm-6 " style="padding-top: 2em;">
                    <div class="row">
                        <div class="col-sm-4 text-right clear-padding" style="font-weight: bold;">姓名 ：</div>
                        <div class="col-sm-8 clear-padding">
                            <p>{$detail.name}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right clear-padding" style="font-weight: bold;">著作 ：</div>
                        <div class="col-sm-8 clear-padding">
                            <p>{$detail.book}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 text-right clear-padding" style="font-weight: bold;">擅长疾病 ：</div>
                        <div class="col-sm-8 clear-padding">
                            <p>{$detail.good_at_disease}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dc-detail-div">
                    <div class="tit01 title-border">
                            <span>主要经历</span>
                    </div>
                    <div><p>{$detail.experience}</p></div>
                    
            </div>
            <div class="dc-detail-div">
                    <div class="tit01 title-border">
                            <span>学术成就</span>
                    </div>
                    <div><p>{$detail.scholastic}</p></div>
                    
            </div>
            <div class="dc-detail-div">
                    <div class="tit01 title-border">
                            <span>荣誉称号</span>
                    </div>
                    <div><p>{$detail.honorary}</p></div>
                    
            </div>

            <div class="dc-detail-div">
                    <div class="tit01 title-border">
                            <span>相关医案</span>
                    </div>
                    <div>

                            <table id="dt_basic" class="table table-bordered" style="background-color:#afd4e0; color:black;" width="100%">
                                    <thead>
                                        <tr>
                                            <th>医案标题</th>
                                            <th>主诉症状</th>
                                            <th>中医诊断</th>
                                            <th>西医诊断</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name='ya' id='ya' key="k"}
                                        <tr style="background-color:#e5f1f5;">
                                            <td style="color:red;">{$ya.title}</td>
                                            <td>{$ya.symptom}</td>
                                            <td>{$ya.tcm_diagnosis}</td>
                                            <td>{$ya.wes_diagnosis}</td>
                                        </tr>
                                        <tr style="background-color:#f8fbfc;">
                                            <td colspan="4">
                                                {$ya.therapeutic_principle_and_method}
                                                {$ya.prescription}
                                                {$ya.prescription_composition}
                                            </td>
                                        </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                    </div>
            </div>

        </div>
    </div>
</div>
<!-- <div class="col-sm-8 col-sm-offset-2">

</div> -->

{include file="common:footer"}

<script type="text/javascript" src="__STATIC__/index/js/jquery.min.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="__STATIC__/index/js/bootstrap.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script>

</script>
{/block}