{extend name="public/base" /}

{block name="seo"}
<title>{$title|default='管理员列表'}</title>
<meta name="keywords" content="{$keywords|default='页面关键字'}">
<meta name="description" content="{$description|default='页面描述'}">
<style>
	.page{
		text-align: right;
		font-size: 18px;
	}
	.page li{
		display: inline-block;
		padding: 20px 10px;
	}
	.page .active{
		color: rgb(40,102,197);
	}
</style>
{/block}

{block name="content"}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 医生管理 <span class="c-gray en">&gt;</span> 删除的医生列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray"> 
		<span class="l">
			<a href="javascript:;" onclick="window.location.reload()" class="btn btn-primary btn-refresh radius"><i class="Hui-iconfont">&#xe68f;</i> 刷新</a>
			<!-- <a href="javascript:;" onclick="admin_add('添加医生','{:url('admin/doctor/add')}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加医生</a> -->
			<a href="{:url('admin/doctor/index')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe681;</i> 医生列表</a>
		</span> 
		<span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="11">医生列表</th>
			</tr>
			<tr class="text-c">
				<th><input type="checkbox" name="" value=""></th>
				<th> ID </th>
				<th> 姓 名 </th>
				<th>个人经历</th>
				<th>学术成就</th>
				<th>荣誉称号</th>
				<th> 著 作 </th>
				<th>擅长疾病</th>
				<th> 图 片 </th>
				<th>删除时间</th>
				<th> 操 作 </th>
			</tr>
		</thead>
		<tbody>
			{volist name='list' id='user'}
			<tr class="text-c">
					<td><input type="checkbox" value="1" name=""></td>
					<td>{$user.id}</td>
					<td>{$user.name}</td>
					<td>{$user.experience}</td>
					<td>{$user.scholastic}</td>
					<td>{$user.honorary}</td>
					<td>{$user.book}</td>
					<td>{$user.good_at_disease}</td>
					<td><img width="80" height="80" src="__UPLOADS__/{$user.img}" alt=""></td>
					<td>{$user.deleteTime|date="Y-m-d H:i:s",###}</td>
					<td class="td-manage">
						<a title="恢复" href="javascript:;" onclick="admin_del(this,{$user.id})" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe66b;</i>恢复</a></td>
				</tr>
			{/volist}
			
		</tbody>
			
	</table>
	<div class="page">{$page}</div>
</div>

{/block}

{block name="js"}
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript">

/*管理员-删除*/
function admin_del(obj,ids){
	layer.confirm('确认要恢复吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '/index.php/admin/doctor/restore/ids/'+ids,
			dataType: 'json',
			success: function(data){
				if (data == true){
					// $(obj).parents("tr").remove();
					window.location.reload();
					layer.msg('恢复成功!',{icon:1,time:1000});
				}
				else if(data == false){
					layer.msg("恢复失败！",{icon:5,time:1000});
				}
				else{
					layer.msg(data,{icon:5,time:1000});
				}
			},
			error:function(data) {
				layer.msg(data,{icon:5,time:1000});
			},
		});		
	});
}
</script>
{/block}