<nav class="navbar navbar-fixed-top" style="background-color:#cfb889;">
    <div class="col-sm-8 col-sm-offset-2">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">{:getSiteInfo('site_name')}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/"><span>首页</span></a></li>
                <li><a href="{:url('index/YaApi/index')}"><span>数据共享API</span></a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {if session('?user')}
                <li><a rel="nofollow" href="#"><span>欢迎您 ： {:session('user_nickname')}！</span></a></li>
                <li><a rel="nofollow" href="{:url('index/User/myCollect')}">收藏记录</a>
                <li><a rel="nofollow" href="javascript:;"
                        onclick="login('修改密码','{:url('index/User/resetPwd',['id'=>session('user_id')])}','800px','360px')">修改密码</a>
                </li>
                <li><a rel="nofollow" href="{:url('index/User/logout')}">退出</a></li>
                {else /}
                <li><a rel="nofollow" href="javascript:;"
                        onclick="login('登录','{:url('index/User/login')}','800px','360px')">登录</a></li>
                <li><a rel="nofollow" href="javascript:;"
                        onclick="register('注册','{:url('index/User/register')}','800px','400px')">注册</a></li>
                {/if}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="col-sm-8 col-sm-offset-2">
    <img src="__STATIC__/index/images/yyybanner.jpg" width="100%" alt="">
</div>