<meta charset="utf-8"/>
<meta name="description" content="websites description"/>
<meta name="keywords" content="websited keywords"/>
<link rel="Shortcut icon" href=""/>

<link rel="stylesheet" href="__STATIC__/index/css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/index/fonts/css/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/index/css/app.css" type="text/css"/>
<link rel="stylesheet" href="__STATIC__/index/css/style114.css" type="text/css"/>
