<link href="__STATIC__/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<div class="container" style="padding-bottom:-20px;">
<form id="form" class="form form-horizontal" action="{:url('index/User/login')}" method="post">
    <div class="row cl">
    <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
    <div class="formControls col-xs-8">
        <input id="" name="name" type="text" placeholder="账户" class="input-text size-L">
    </div>
    </div>
    <div class="row cl">
    <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
    <div class="formControls col-xs-8">
        <input id="" name="password" type="password" placeholder="密码" class="input-text size-L">
    </div>
    </div>
    <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe6ee;</i></label>
    <div class="formControls col-xs-8">
        <input class="input-text size-L" name="verify" type="text" placeholder="验证码" onblur="if(this.value==''){this.value='验证码:'}" onclick="if(this.value=='验证码:'){this.value='';}"  style="width:150px;">
        <img id="verify_img" src="{:captcha_src()}" alt="captcha" onclick="this.src='{:captcha_src()}'" />
    </div>
    </div>
    <div class="row cl">
    <div class="formControls col-xs-8 col-xs-offset-3">
        <input id="login" name="" type="submit" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
    </div>
    </div>
</form>
</div>

<script type="text/javascript" src="__STATIC__/index/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.form.min.js"></script>
<script type="text/javascript">
    $('#form').ajaxForm(function(data){    
            if(data==true){  
                parent.layer.msg("登录成功！",{icon:1,time:10000});
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);  
            }
            else if(data==false){
                parent.layer.msg('登录失败!',{icon:1,time:4000});
            }else{
                parent.layer.msg(data,{icon:1,time:4000});
            }
    });
    </script>

